.buttonComponent {
	font-size: 1rem;
	padding: 8px;
	border-radius: 5px;
	transition: all 400ms;
}

.buttonComponent.normal {
	background-color: #66D575;
	color: white;
}

.buttonComponent.normal:hover {
	background-color: #40974c;
	cursor: pointer;
}

.buttonComponent.subtle {
	background-color: white;
	color: #444;
	border: 2px solid #ddd;
	padding: 6px;
}

.buttonComponent.subtle:hover {
	background-color: #ddd;
	cursor: pointer;
}

.buttonComponent.important {
	color: #fff;
	background-color: #F24822;
}

.buttonComponent.important:hover {
	cursor: pointer;
	background-color: #d82800;
}