#header {
	position: sticky;

	width: 100%;
	padding: 2rem;
}

.headerInner {
	max-width: 1200px;
	margin: 0 auto;

	display: flex;
	flex-direction: row;

	justify-content: space-between;
	align-items: center;
}

.headerProfileIcon {
	width: 85px;
	height: 85px;
	border-radius: 100%;

	box-shadow: 0px 0px 2px rgba(1, 1, 1, 1);
	transition: all 200ms;
}

.headerProfileIcon:hover {
	cursor: pointer;

	box-shadow: 0px 0px 8px rgba(1, 1, 1, 1);
}
