#header {
	position: sticky;

	width: 100%;
	padding: 2rem;	

	background-color: #66D575;
}

#header h1 {
	color: #FFF;

}

.headerInner {
	/* max-width: 1200px; */
	margin: 0 auto;

	display: flex;
	flex-direction: row;

	justify-content: space-between;
	align-items: center;
}

.headerProfileIcon {
	width: 85px;
	height: 85px;
	border-radius: 100%;

	box-shadow: 0px 0px 0px #000;
	transition: all 200ms;
}

.headerProfileIcon:hover {
	cursor: pointer;

	box-shadow: 0px 0px 8px #000;
}

.headerProfileMenu {
	position: absolute;
	top: 100%;
	right: 0;

	width: min(90%, 250px);

	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 5px;
	padding: 1rem;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}