#header {
	position: sticky;

	width: 100%;
	padding: 2rem;	

	background-color: #66D575;

	--profile-icon-size: 65px;
}

#header h1 {
	color: #FFF;
	font-size: 2.5rem;
	/* 250px is roughly the width of the profile menu */
	max-width: calc(100% - 250px);
}

@media screen and (orientation: portrait) {
	#header h1 {
		max-width: calc(100% - 80px);
	}
}

.headerInner {
	margin: 0 auto;

	display: flex;
	flex-direction: row;

	justify-content: space-between;
	align-items: center;
}
