#header {
	position: sticky;

	width: 100%;
	padding: 2rem;	

	background-color: #66D575;

	--profile-icon-size: 65px;
}

#header h1 {
	color: #FFF;
	font-size: 2.5rem;
	max-width: 50%;
}

.headerInner {
	/* max-width: 1200px; */
	margin: 0 auto;

	display: flex;
	flex-direction: row;

	justify-content: space-between;
	align-items: center;
}
