#header {
	position: sticky;

	width: 100%;
	padding: 2rem;	
}

.headerInner {
	position: relative;

	max-width: 1200px;
	margin: 0 auto;

	display: flex;
	flex-direction: row;

	justify-content: space-between;
	align-items: center;
}

.headerProfileIcon {
	width: 85px;
	height: 85px;
	border-radius: 100%;

	box-shadow: 0px 0px 0px rgba(1, 1, 1, 1);
	transition: all 200ms;
}

.headerProfileIcon:hover {
	cursor: pointer;

	box-shadow: 0px 0px 8px rgba(1, 1, 1, 1);
}

.headerProfileMenu {
	position: absolute;
	top: 0;
	right: 0;

	width: min(100%, 250px);
	
	display: flex;
	flex-direction: column;
	gap: 1rem;
}