.textInputField {
	width: 100%;
}

.textInputField label {
	font-size: 0.9rem;
	color: #333;
	text-align: left;

	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 5px;
}

.textInputField input {
	width: 100%;
	padding: 5px;
	border-bottom: 2px solid #777;
	font-size: 1rem;
	text-align: left;
	transition: all 200ms;
}

.textInputField input:focus {
	border-color: #66D575;
}

.textInputField input::placeholder {
	color: #777
}

.capitalized {
	text-transform: capitalize;
}

.textInputField .errorMessage {
	color: #f11;
	margin-left: 1rem;
}
